[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
requests = "*"
django-cors-headers = "*"
dj-database-url = "*"
gunicorn = "*"
django = "*"
djangorestframework = "*"
psycopg2-binary = "*"

[requires]
python_version = "3.7"
