h2 {
	font-weight: bold;
	color: hotpink;
}
label {
	font-size: 3vw;
}
input[type="radio"] {
	width: 2vw;
	height: 2vw;
}
input[type="submit"] {
	font-size: 3vw;
}
select {
	font-size: 3vw;
}
.title {
	padding: 1vw;
	background-color: grey;
	text-align: center;
	font-size: 4vw;
	font-weight: bold;
	color: white;
}
.seg {
	margin: 1.5vw;
	background-color: darkgrey;
}
.subseg {
	margin: 1vw;
	padding: 2vw;
	background-color: lightgrey;
}
.code {
	font-family: monospace;
}
.nine {
	width: 40vw;
	font-size: 3vw;
}
