{% extends "base.html" %}
{% block title %}: Top{% endblock %}

{% block content %}
  {% if permissions_level == 'employee' %}
    <h3 class="page-title">Employee landing</h3>
  {% elif permissions_level == 'customer' %}
    <h3 class="page-title">Customer landing</h3>
  {% endif %}
  <hr />
  <div class="top seg search">
    <div class="top title">
      <h4>
        Search Shipments
      </h4>
    </div>
    <div class="top subseg by-pro search">
      <form class="" action="search" method="post">{% csrf_token %}
        <label for="pro">By shipment # </label>
        <input class="code nine" type="text" name="pro" placeholder="123456789">
        <input type="submit" name="submit" value="Search">
      </form>
    </div>
    {% if customers_list %}
      <div class="top subseg by-cust search">
        <form action="search" method="post">{% csrf_token %}
          <div class="">
            <label for="cust-select">By customer:</label>
            <select name="cust-name">
              {% for customer in customers_list %}
                <option value="{{ customer.id }}">{{ customer.name }}</option>
              {% endfor %}
            </select>
          </div>
          <div class="">
            <label for="by">As:</label>
            <input type="radio" name="by" value="shipper">
            <label for="shipper">shipper</label>
            <input type="radio" name="by" value="consignee">
            <label for="consignee">consignee</label>
            <input type="radio" name="by" value="billto">
            <label for="billto">bill-to</label>
          </div>
          <div class="">
            <input type="submit" name="submit" value="Search">
          </div>
        </form>
      </div>
    {% endif %}
  </div>
  {% if permissions_level == 'employee' %}
    <div class="top seg new-shipment">
      <div class="top title">
        New Shipment
      </div>
      <div class="top subseg new-shipment">
        <form action="new">
          <input type="submit" name="submit" value="New Shipment">
        </form>
      </div>
    </div>
  {% endif %}
{% endblock %}
