{% extends "base.html" %}
{% block title %}: Shipments for {{ cust.name }}{% endblock %}

{% block content %}
  {% if shipments %}
    <div class="seg">
      {% for ship in shipments %}
        <div class="subseg">
          <div class="">
            <p>Shipment# {{ship.pk}}</p>
          </div>
          <div class="">
            <p>Contents: {{ship.fields.desc}}</p>
            <p><a href="/shipments/{{ship.pk}}">View details</a></p>
          </div>
        </div>
      {% endfor %}
    </div>
  {% endif %}
{% endblock %}
